
<p style="font-weight: bold;font-size:110%;color:#008000;">
  Welcome to DoosraCricket! </p>
<br/><br/>

<p>Your account has been activated.</p>
<br/><br/>
<p>You may now start playing the contest with your friends at:<br/>
 <%= link_to @url, @url %>  </p>

<br/><br/>
Enjoy Contest,<br/>
-DoosraCricket Team<br/>


