
Hi there!<br/><br/>


Your conversation on <em><%= @post.subject %></em> has been saved.<br/>

Please visit this link to invite your friends and get the conversation going:<br/>

   <%= link_to @post_url, @post_url %>  <br/><br/>

Happy Engaging,<br/>
-EngageVia Team<br/>

<div style="margin-top: 3px;font-size:10px;">
 IMPORTANT NOTE: Please do not forward this mail or share this link provided to you <br/>
 as a way of inviting friends.<br/>

 To invite, please visit the link and invite from there.<br/>
 Each one of your invitees will then get their own unique link.<br/>

If the above lilnk does not work try copying and pasting it into your browser.<br/>
If you continue to have problem please feel free to contact us.<br/>

NOTE:<br/>
<span style="font-size:85%;color:#333333;">
If you did not start this conversation, please ignore this email and let us <a href="mailto:engagevia@gmail.com">know</a><br/>
We sincerely apologize for the inconvenience.
</span>
</div>


