<div id="block-text">
<h2>About the Service</h2>

<div id="goal" class="snippet" style="padding:5px;margin-bottom: 20px;">
  <p>
    <span style="font-family:georgia;font-size:30px;">O</span>ur goal is to help people clearly see their financial picture, remind them to secure themselves first by
addressing the priorities like Emergency funds and Retirement which are often overlooked,
and hopefully make them stop and think twice before making a purchase.
</p>
</div>
<p>
Can I Afford It Now? helps you in making your decisions on any purchases by evaluating the state of your finances.
The basis of providing you with an Affordability verdict on your purchase is a health checkup
that we perform on your financial data.
This is based on some common-sense checks as well as on some well-established personal finance guidelines as outlined
<%= link_to "here", '/how'  %>.
</p>
<p>
The value we provide is in performing all of these checks and presenting you with a single report of your financial health
so you can make informed decisions.
</p>
<p>
The more data you provide, the more accurate the results will be.
However, it is still meant to be only a sanity check and not decisive by any stretch.
</p>
<p>
We acknowledge that individual judgments may vary and hence we allow our community members
to voice their opinions as well.
We hope this will provide a well-rounded response to the question posed.
</p>
<h2>About the Team</h2>
<p>
Conceived and Built by <a href="mailto:hrajagopal@yahoo.com">Hari Rajagopal</a>
 and <a href="mailto:satish.fnu@gmail.com">Satish Singh</a>.
</p>
</div>