<div id="dashboard-content">
    <div id="how-to" style="width:960px;"><br/>

        <div id="block-text">
            <div id="signup-btn">
                <%= button_to "Current Fixtures", contests_path, :method => :get %>
            </div><br/>

            <h2 style="padding-top:15px;">Start your Private Contest</h2>
            <h2 style="padding-top:15px;">Invite Friends</h2>
            <h2 style="padding-top:15px;">Cast Predicitions</h2>
            <h2 style="padding-top:15px;">Discuss</h2>
        </div>
    </div>
</div>