<div style="margin: 0px;">

   <div id="widgets" class="banner">
     <span style="color:#fff;"><%= tag_line %></span>
  </div>


<div id="dashboard-content">
    <div id="how-to" style="width:960px;"><br/>
        <div id="signup-btn">
           <%= button_to "Start a Contest", contests_path,  :method => :get %>
         </div>

        <div class="blurb_about">How to get Started?</div><br/>

        

        <div style="color:#5B5B5B;font-size:50px;font-family:Georgia;font-weight:bold;float:left;padding:17px 10px;">1</div>
        <div  class="blurb_about_line">Start by joining any existing contests from the contest page.<br/>
            <span style="font-size:18px;font-family:Georgia;padding-left:30px;">
              Click on 'Own this Contest' link to start your own private contest.</span><br/></div>
        <div style="clear: both; padding-top: 30px;"></div>


       <div style="color:#5B5B5B;font-size:50px;font-family:Georgia;font-weight:bold;float:left;padding:42px 10px;">2</div>
       <div  class="blurb_about_line">Include Friends or Share<br/>
         <span style="font-size:18px;font-family:Georgia;padding-left:30px;">Include friends or families that you know would be interested AND/OR </span><br/>
         <span style="font-size:18px;font-family:Georgia;padding-left:30px;">Share an Open invite via email or Facebook to let them know </span><br/>
         <span style="font-size:18px;font-family:Georgia;padding-left:30px;">so that those interested can then choose to join.</span><br/>
         <span style="font-size:18px;font-family:Georgia;padding-left:30px;margin-top:5px;">Those joined can further invite and/or share the conversation.</span> </div>
       <div style="clear: both; padding-top: 30px;"></div>

       <div style="color:#5B5B5B;font-size:50px;font-family:Georgia;font-weight:bold;float:left;padding:28px 10px;">3</div>
       <div class="blurb_about_line">Socialize by having discussion about the match privately<br/>
             <span style="font-size:18px;font-family:Georgia;padding-left:30px;">Add your comments on the contest page and engage in an intimate</span><br/>
             <span style="font-size:18px;font-family:Georgia;padding-left:30px;">conversation privately with only the joined Participants.</span></div>         
       <div style="clear: both; padding-top: 30px;"></div>

       <div style="color:#5B5B5B;font-size:50px;font-family:Georgia;font-weight:bold;float:left;padding:28px 10px;">4</div>
       <div class="blurb_about_line">Predict results for the match<br/>
             <span style="font-size:18px;font-family:Georgia;padding-left:30px;">Predict results before the start of each match and participate in the contest</span><br/>
             <span style="font-size:18px;font-family:Georgia;padding-left:30px;">with only the joined Participants and make it competitive.</span></div>
       <div style="clear: both; padding-top: 30px;"></div>

    </div>

          <div id="signup-btn">
            <%= button_to "Start a Contest", contests_path, :method => :get %>
          </div>
    </div>
</div>