<div style="margin: 0px;">

   <div id="widgets" class="banner">
     <span style="color:#fff;"><%= tag_line %></span>
  </div>


<div id="dashboard-content">
    <div id="how-to" style="width:960px;"><br/>
        <div id="signup-btn">
           <%= button_to "Current Fixtures", contests_path,  :method => :get %>
         </div>

        <div class="blurb_about">How to get Started?</div><br/>

        <div style="color:#5B5B5B;font-size:50px;font-family:Georgia;font-weight:bold;float:left;padding:0px 10px;">1</div>
        <div  class="blurb_about_line">Pick a Fixture and Start a Private Contest for your group.<br/>
            </div>
        <div style="clear: both; padding-top: 30px;"></div>


       <div style="color:#5B5B5B;font-size:50px;font-family:Georgia;font-weight:bold;float:left;padding:0px 10px;">2</div>
       <div  class="blurb_about_line">Invite your friends to the contest<br/>
         <span style="font-size:18px;font-family:Georgia;padding-left:30px;">You can Include friends right away <i>  </i> </span><br/>
         <span style="font-size:18px;font-family:Georgia;padding-left:30px;margin-top:5px;">Those joined can further invite and/or share the contest.</span> </div>
       <div style="clear: both; padding-top: 30px;"></div>

       <div style="color:#5B5B5B;font-size:50px;font-family:Georgia;font-weight:bold;float:left;padding:0px 10px;">3</div>
       <div class="blurb_about_line">Cast your Predictions for each match on various categories<br/>
             <span style="font-size:18px;font-family:Georgia;padding-left:30px;">Show off your expertise and see who comes out ahead among your friends</span><br/>
       </div>   
       <div style="clear: both; padding-top: 30px;"></div>

       <div style="color:#5B5B5B;font-size:50px;font-family:Georgia;font-weight:bold;float:left;padding:0px 10px;">4</div>
       <div class="blurb_about_line">Once the match is over, results get tabulated and displayed<br/>
         <span style="font-size:18px;font-family:Georgia;padding-left:30px;">Watch everyone's score and See who really knows their game :)</span><br/>
       </div>
       <div style="clear: both; padding-top: 30px;"></div>

       <div style="color:#5B5B5B;font-size:50px;font-family:Georgia;font-weight:bold;float:left;padding:0px 10px;">5</div>
       <div class="blurb_about_line">All along, discuss the match by posting comments<br/>
         <span style="font-size:18px;font-family:Georgia;padding-left:30px;">News, Strategies, Gossip - anything you wish</span><br/>
       </div>
       <div style="clear: both; padding-top: 30px;"></div>
        
    </div>

          <div id="signup-btn">
            <%= button_to "Current Fixtures", contests_path, :method => :get %>
          </div>
    </div>
</div>