<div id="block-text">
<h2>Web Site Privacy Policy</h2>
<p>
<h3>Sharing of Information</h3>
CanIAffordItNow.com does not sell, rent, or exchange personal information with 3rd parties.
</p>

<p>
<h3>The Use of Cookies</h3>
In order to access some CanIAffordItNow.com's features,
CanIAffordItNow.com web site places a session cookie on your computer.
The cookie itself does not identify you, your email address or any other personal information.
It is only used for guiding you to navigate the web site better.
</p
<p>
<h3>Links to Other Web Sites</h3>
CanIAffordItNow.com may refer users to other Web sites via links.
In that event, CanIAffordItNow.com is not responsible for the privacy practices or contents of these other sites and
the user is covered by the privacy policies on those sites.
</p

<p>
<h3>Change in Policy</h3>
From time to time we may revise this privacy notice. We will attempt to notify our users if we have their
correct contact information and also by posting on this site.
</p
</div>