<% if current_user && current_user.admin? && current_user.admin_user? %>
    <% link_to "Add New Match",  :controller => 'matches', :action => 'new', :contest_id => @contest.id, :user_id => current_user.id %>  <br/>    
    <%= button_to "Add New Match",  new_contest_match_path(@contest, @match), :method => 'get' %>      
<% end %>

<span style="float:left;padding-top:5px;margin-left:10px;">
    <div class='subject'><%=h @contest.name %></div>
    <span style="margin-left:2px;"><%=h @contest.description %></span><br/><br/>
</span><br/>

<div id="signup-btn">
    <% button_to "Start a Contest", new_contest_post_path(@contest), :method => :get %>
    <% link_to image_tag('/images/start_contest.png'), new_contest_post_path(@contest), :method => :get %>
</div>

 <% @inviter = User.get_open_contest_inviter %>
 <% @post = Post.get_open_contest(@contest, @inviter) %>
 <span style="float:right;font-size:120%;font-weight:bold;">
    <% link_to 'Start Private Contest', new_contest_post_path(@contest) %><br/>

    <% if current_user && current_user.activated? %>
       <% link_to "Join Open Contest",  :controller => 'engagements', :action => 'join_conversation_facebox', :pid => @post.unique_id, :iid => @inviter.unique_id, :uid => current_user.unique_id %>
    <% else %>
       <% facebox_link_to "Join Open Contest",  :url => @post.get_url_for_jc_facebox(@inviter.unique_id) %> 
    <% end %>
 </span>

<fieldset style="clear:both;">
    <% if @contest.matches.size > 0 %>
        <legend><b><span style="font-size:140%">Listing Matches</span></b></legend><br/>
        <%= render :partial => 'match', :collection => @contest.matches %><br/>
    <% end %>    
</fieldset>

<% link_to 'Edit', edit_contest_path(@contest) %>
<% link_to 'Back', contests_path %>