<div id="block-text">
<h2>Disclaimer</h2>

<p>
  The verdict and the report provided by Can I Afford It Now? are meant only as a guidance. 
  Please Use it responsibly.
  We do not guarantee this to be accurate every time.
  Please take professional financial advisor's guidance before making any decisions.
</p>
<p>
  You give us permission to post your question and our Expert report on our web site http://CanIAffordItnow.com
  and allow users to view and respond.
  <b>You agree to release us from any damage that usage of this web site may cause you.</b><br/><br/>

</p>

</div>