/*
    Original Design by     : http://www.intensivstation.ch/files/en_templates/temp07.html
*/
table.mceLayout{
    width: 900px;
}
#left {
position: absolute;
left: 0px;
color: #black;
margin:5px 10px;
padding: 0px 7px;  /* top and bottom is 0 so empty div does not show up */
width:240px;
}
#right {
    float:left;
    width:80px;
    min-width:240px;
    margin: 8px 0px;
    color:#2D392D;
    padding: 0px 7px;
    /*
    position: absolute;
top: 134px;
right: 0px; */
}
#js_snippet textarea {
    width:750px;
}
#howto{
    color:#fff;
    background1:transparent url('/images/shadow-bg-left2.png') no-repeat scroll center bottom;
    height1:400px;
    width1:641px;
    float: left;
    clear:right;
    line-height:1.5;
    text-align:left;
    font-family:Georgia;
    font-style:italic;
    font-size:28px;
}
#howto-blurb {
    float:left;
    margin:0 0 100px;
    width:623px;
    color: #fff;
    clear: both;
}
#howto ol li {
    padding-left:3px;
}
#blurb {
    float:left;
    margin:0 0 100px;
    width:675px;
    color: #fff;
}

#about{
    /* background:transparent url('/images/shadow-bg-left2.png') no-repeat scroll center bottom; */
    
    color:#fff;
    float:left;
    font-size:24px;
    line-height:1.5;
    text-align:center;
    width:100%;
    height:400px;
    width:675px;
    margin-top:40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #333333;
}
div.blurb_about_line {
float:left;
font-size:22px;
line-height:28px;
margin:7px 0 10px;
text-align:left;
vertical-align:middle;
clear:right;
color: #5B5B5B;
line-height:1em;
}
div.blurb_about {
font-size:30px;
line-height:1.5;
text-align:center;
padding:10px 0px 10px;
clear: both;
font-weight: bold;
letter-spacing:1px;
}
#container {
 width: 925px;
margin: 0 auto;
}
#post-settings{
    background-color1:#C8D6FF;
    background-color:#F4F4F4;
    margin-top:10px;
    padding:3px;
    colo1r:#000;    
    color: #2D392D;
    border:1px solid #666666
}
#participants{
    background-color1:#C8D6FF;
    background-color:#F4F4F4;
    margin-top:16px;
    padding:2px;
    color: #2D392D;
    -moz-box-shadow1:2px 2px 14px #4E9494;
    border:1px solid #666666
}
#participants2{
    background:url("/images/fieldset.gif") repeat-x scroll left bottom #F8FDEF;
    border-color:#C9DCA6 -moz-use-text-color -moz-use-text-color;
    border-right:medium none;
    border-style:solid none none;
    border-width:1px medium medium;
    text-align: left;
    letter-spacing:0.5px;
}
#participants21 {
    -moz-border-radius:14px;
}
#matches{
    background-color1:#C8D6FF;
    -moz-border-radius:14px;
    color: #2D392D;
    -moz-box-shadow1:2px 2px 14px #4E9494;
    border-top:1px solid #DFDFDF;
}
#match-title{
color:#2D392D;
font-weight:bold;
}
#invitations {
    background-color:#0B84E8;
    /* width: 100%; */
    padding: 10px;
    margin-top:10px;
    /* clear:both; */
    overflow:auto;
    -moz-border-radius:14px;
    -moz-box-shadow:2px 2px 14px #4B9CE0;
}
#sticky-note {
    background-color: #f6f650;
    color: #000000;
    right: 0px;
    padding: 0px 7px;
    height: 260px;
    overflow:auto;
}
html,body {
  font-size: 14px;
  font-family: Sans-Serif,Arial,'Lucida Grande';
  color:#2b1e24;
  padding:0px;
  margin:0px;
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:#89B556 none repeat scroll 0 0;
  background1:url("/images/fieldset.gif") repeat-x scroll left bottom #F8FDEF;
  width: 100%;
}
.fieldWithErrors input {
    border: 1px solid #ff0000;
}
.errorExplanation {
    color: #ff0000;
}
.errorExplanation input {
    border: 1px solid #ff0000;
}
#wrapper{
    margin:20px auto 0;
    padding:0 20px 0 30px;
}
#content {
  margin: 5px 275px;
  margin:0 auto;
  text-align:left;
  color: #000;
}
#post-content{
  float: left;
  margin: 5px 275px;
  margin:17px;
  margin-left:280px;
  overflow:hidden;
  text-align:left;
  color: #000;
  width: 710px;
  background-color: #fff;
  border:1px solid #666666
  /* background-repeat: repeat-y;  background-image: url('/images/content-bg.png'); */
  /* background-image: url(/images/middle.png); background-repeat: repeat-y; width: 898px; */
}
#spectator-content{
  float: left;
  margin: 5px 275px;
  margin:17px 45px;
  overflow:hidden;
  text-align:left;
  color: #000;
  width: 720px;
  background-color: #fff;
  /* background-repeat: repeat-y;  background-image: url('/images/content-bg.png'); */
  /* background-image: url(/images/middle.png); background-repeat: repeat-y; width: 898px; */
}
#actual-post-content {
    padding:5px 15px;
    width:680px;
}
#gen-content {
  margin: 0 275px;
  padding: 2px 7px;
  background-color: #fff;
  font-size: 14px;
  margin:0 auto;
  text-align:left;
  color: #beige;
  width:925px;
  border:1px solid #666666;
}
#shadow {
    width:1050px;
    margin: 0 auto;
    position: relative;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background: #666666;
}
#bodyblock {
    width:1050px;
    position: relative;
    top: -3px;
    left: -3px;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    text-align: left;
    color: #666;
    background: #fff;
}
img {
border:medium none;
vertical-align:middle;
}
#flash-notice{
    padding: 5px;
    background-color: #4B9CE0;
    color: white;
    position:fixed;
    top: 0px;
    width:100%;
    z-index:100;
    opacity: 0.9;
    text-align:center;
}
#flash-error{
    padding: 5px;
    background-color: #f42b30;
    color: white;
    width:100%;
    z-index:100;
    opacity: 0.9;
    position:fixed;
    top: 0px;
    text-align:center;
}
#name-request{
    padding: 5px;
    background-color: #F4F4F4;
    width:50%;
    z-index:100;
    position:fixed;
    top: 142px;
    text-align:center;
    border:8px solid grey;
    margin-left:25%;
}
#reply-to-comment {    
    background-color: #fff;
    width:50%;
    z-index:100;
    position:fixed;
    margin-left:25%;
    min-width: 800px;
    top: 76px;
    max-height:575px;
    overflow: auto;
}
#invitation-title {
    color: #0B84E8;
    font-weight: bold;
}
#name-request ul li{
    float: left;
    clear: both;
    color: #0B84E8;
}
#flash-status{
    padding: 5px;
    background-color: #4B9CE0;
    color:#fff;
    width:100%;
    z-index:100;
    opacity: 0.9;
    text-align:center;
}
#header .logo img {
    width: 260px;
    float:left;
}
#wide-header .logo img {
    width: 260px;
}
a {
color:#0B84E8;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
text-decoration:none;
}
#get_credentials a{
    color:#fff;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    text-decoration:none;
}

input {
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
margin-top:2px;
padding:3px;
}
textarea {
    
}
input.submit  {
    padding: 2px;
    color:#666666;
    font-size:16px;
    font-weight:bold;
    cursor: pointer;
}
#signup-btn {
    float:right;
    font-size:20px;
    font-weight:bold;   
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
    padding:8px;
    color:#ff0000;
}
#signup {
    float:right;
    color:#fff;
    margin:50px 0 0 20px;
    width:265px;
}
.signup-blurb{
background-color:#5b5b5b;
padding: 10px;
width:235px;
-moz-border-radius:14px;
-moz-box-shadow:2px 2px 14px #FFFFFF;
margin:20px 0 0 0;
}
.signup-blurb a {
    color:#BBDEFA;
    font-size:13px;
    text-decoration:underline;
}
.blurb_about_line a {
    color:#BBDEFA;
    text-decoration:underline;
}

#sticky-note form {    
    padding:0;
    width:200px;
}
#widgets {
background1: transparent url('/images/bg-widgets.png') repeat-x scroll 0 0;
background:#038819;
overflow:hidden;
padding:10px 20px 7px 30px;
height:33px;
}
.banner {
    color:#fff;
    font-size:22px;
    font-style:normal;
    font-weight:normal;
    text-align:center;
    letter-spacing:0.1em;
}
#header {
/* background: #575455 url('/images/bg-header.png') repeat-x scroll 0 0; */
/* border-bottom:3px solid #0B84E8; */
overflow:hidden;
padding:10px 20px 7px 20px;
/*height:115px; */
margin: 0 auto;
width:1075px;
}
#wide-header {
overflow: hidden;
padding: 10px 20px 7px 30px;
height: 58px;
margin: 0 auto;
width: 1238px;
}
* html #header {
height:1%;
overflow:visible;
}
* html #wide-header {
height:1%;
overflow:visible;
}
.logo {
float:left;
margin:0;
}
.logo a {
float:left;
height:53px;
overflow:hidden;
width:251px;
}
#header ul,#wide-header ul {
    float:right;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:18px 0 0;
    overflow:hidden;
    padding:0;
}
#header ul li,#wide-header ul li {
    display:inline;
    float:left;
    margin-left:-2px;
    padding: 2px;
}
#header ul li a, #wide-header ul li a {
    color:#2D392D;
    text-decoration:none;
    padding:0 13px;
    font-size:16px;
    font-weight:bold;
    -moz-border-radius:10px 10px 10px 10px;
}
#header ul li a.active, #header ul li a:hover,#wide-header ul li a.active, #wide-header ul li a:hover {
    color:#FFFFFF;
    background-color:#4b9ce0;
}
ul li {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    overflow:hidden;
}

#widgets ul {
/* float:left; */
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:8px auto;
overflow:hidden;
padding:0;
width: 1050px;
}
#widgets ul li {
display:inline;
float:left;
margin-left:-2px;
padding:0 13px;
}
#widgets ul li a {
color:#fff;
text-decoration:none;
font-weight: bold;
padding:0 10px;
-moz-border-radius:10px 10px 10px 10px;
}
#widgets ul li a.active, #widgets ul li a:hover {
color:#4b9ce0;
background-color:#e4a1e4;
}
#home-content {
overflow:hidden;
clear:both;
float: left;
font-size: 14px;
margin:0 auto;
min-width:1150px;
width:1285px;
}
#dashboard-content {
    overflow:hidden;
    width:100%;
    font-size: 20px;
    width:960px;
    margin:0 auto;
    background: #ffffff;
    border:1px solid #666666;
    -moz-border-radius:5px;
}
.features {
padding:2px 0 0;
width:100%;
color:#FFFFFF;
}
.feature {
margin:auto;
text-align:justify;
width:930px;
}

#parent-post {
background-color1:#d1d7f6;
overflow:auto;
width: 100%;
padding: 5px;
}
.owner-info{
float: right;
width: 64px;
height: 64px;
border: 2px solid #d7d7d7;
padding: 3px;
clear: right;
}
#post-body{
    float: left;
    padding-bottom:10px;
}

#comments-section {
    margin: auto;
    background-color: #fff;
}
#comments-section a {
   color: #0062f6;
}
#participants a {
   color: black;
}
.comment-body {
    margin-top:5px;
    padding: 5px 5px 10px 5px;
    float: left;
    border:1px solid #777777;
}

.new-comment {
    background-color: #d6f6a6;
    border-bottom: 2px dotted #68ac02;
    border-bottom-color: #68ac02;
    margin-bottom:5px;
    background:#FFFFFF url(/images/topbluefade.gif) repeat-x scroll 0 0;
}
.comment-body-editor {
    float:left;
    width:88%;
    text-align:justify;
}
.root {
    width: 100%;
}
.sub {
    width: 98%;
    margin-left:5px;
}
.listing-line-odd1 {
        background-color: #E6F1F7;
}
.listing-line-even1 {
        background-color: #fff;
}
.current-user-comment {
        background-color: #ABD9F5;
}
.unread {
    background-color: #A9ED2E !important;
}
.unread-post{
    font-weight:bold;
    clear:both;
}
.read-post{
    font-weight:normal;
    clear:both;
}
.apply_border {
        border-bottom: 1px dotted #32a3fe;
}
.apply_comment_owner_border {
        border-bottom: 1px dotted #68ac02;
}
.subject {
    font-size: 170%;
    margin-bottom: 5px;
    font-weight: bold;
    padding-top:5px;
}
.in_place_editor_field, .inplacericheditor-form {
    clear:left;
    float:left;
    padding-left:5px;
    padding-top:5px;
}
.description {
    clear:left;
    float:left;
    padding-left:5px;
    padding-top:5px;
    margin-top: 10px;
    text-align:justify;
}
.url {
    font-size:90%;
    clear:both;
    padding-left:2px;
    padding-top:5px;
    color: #0062f6;
}
#you {
    background-color:#f3f371;
    color:#000000;
}

div#participants ul li {
    padding:3px;
    margin-left:-38px;
}
div#twitter_followers ul li {
    list-style:none;
    margin-left:-30px;
}
#post-body a {
    font-size: 14px;
}

.post-item {
    padding: 5px;    
    overflow:auto;
    border-left: 6px solid #0B84E8;
    border-bottom:1px solid #0B84E8;
}
.post-item a {
    color: #0B84E8;
}
.post-item a:hover {
    color: #6c0c0c;
    font-weight:bold;
}
.timestamp {
    float: right;
    font-size: 14px;
}
.poststat {
    clear: both;
    margin-left: 0px;
    margin-top: 5px;
    font-size: 14px;
}
#dashboard-view{
    width: 925px;
    margin:0 auto;
    color:fuchsia;
}
.post-item a.dashboard-comments {
    color: green;
    float: left;
    font-weight:normal;
    clear:both;
}
.post-item a.dashboard-comments:hover {
    color: #6c0c0c;
    float: left;
    font-weight:normal;
    clear:both;
}

#notify-option {
   margin-left:120px;
}

ul#matches-list li:hover {
    background-color:#f1f1bc;
    color:#000;
}
ul#participants-list li:hover {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-color:#f1f1bc;
    color:#000;
}
ul#participants-list li.new-p:hover {
    color: #fff;
}
#footer {
    background1: #333333 url('/images/bg-widgets.png') repeat-x scroll 0 0;
    background:#2D392D;
    overflow:hidden;
    padding:10px 20px 7px 30px;
    height:33px;
    padding-bottom:1em;
    text-align:center;
    color: #fff;
    font-size1:85%;
    position:absolute;
    bottom: 0px;
    width:100%;
}
#footer-d {
    background1: #333333 url('/images/bg-widgets.png') repeat-x scroll 0 0;
    background:#2D392D;
    overflow:hidden;
    padding:10px 20px 7px 30px;
    height:33px;
    padding-bottom:1em;
    text-align:center;
    color: #fff;
    font-size1:85%;
    position:relative;
    margin-top:30px;
    clear:both;
}
#footer ul li,#footer-d ul li {
    display:inline;
}

#invite-status {
    color: #fff;
}
.heading {
    color:#575455;
    font-size:32px;
    margin:20px 0px;
    padding-left: 3px;
}
.sub-heading {
    color:#575455;
    font-size:20px;
    margin-top:14px;
    padding:5px;
    font-weight:bold;
    clear: both;
}
.index {
    font-size: 20px;
    color:#575455;
    float:left;
    margin-top: 24px;
}
#add-new-comment {
    margin-top:5em;
}
#comments {
    border-top:1px solid #FFFFFF;
    padding-right:10px;
}
#sticky-comments {
    clear: both;
}
.user-bio {
    clear:both;
    font-size: 85%;
}
#tags {
    clear:both;    
    width: 100%;
    margin-top:5px;
    overflow:auto;
}
#assoc-tags{
    clear:both;
    width: 100%;
    margin-top:5px;
    overflow:auto;
}
#centered-heading{
    color:#0B84E8;
    font-size:20px;
    margin:14px;
    font-weight:bold;
    text-align:center;
}
#invitations ul li {
    overflow:inherit;
    margin-left:-40px;
}
#new-comment-status{
    margin-top: 10px;
    color: red;
}
.inviter {
    font-weight: bold;
    clear: both;
    float: left;
}
.invitees {
    float: left;
    clear:both;
    padding-bottom:4px;
    padding-left:10px;
}
.contact {
    padding: 5px;
}
.contact-name {
    font-weight: bold;
    color: #0B84E8;
}
.group-name {
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 8px;
}
.group {
    font-size: 12px;    
    color: #000;
    font-size: 12px;
    float:left;
    width: 50%;
    margin-left:-7px;
    padding-right:7px;
}
#link-icon {
    float:left;
}
#feedback{
background-color:#A9ED2E;
height:auto;
position:fixed;
right:0pt;
text-align:left;
top:340px;
width:auto;
padding: 5px;
}
#feedback a{
background-color:#A9ED2E;
color:#000000;
font-weight:bold;
padding:4px;
}
#logo-text{
float:left;
padding-top:10px;
font-size:340%;
}
fieldset {
    background-color:#F4F4F4;
    background1:url("/images/fieldset.gif") repeat-x scroll left bottom #F8FDEF;
    border-color1:#C9DCA6 -moz-use-text-color -moz-use-text-color;
    border-right:medium none;
    border-style:solid none none;
    border-width:0px medium medium;
    margin:10px;
    text-align: left;
    letter-spacing:0.5px;
}
legend {
    color:#038819;
}
p {
  font-family:Georgia,serif;
  font-size:   16px;
  line-height: 1.3em;
  width:100%;
  margin: 0 auto;
  background-color1:#eefad6;
}
form {
color:#333333;
display:block;
}

form, fieldset {
padding:0 10px;
}

form fieldset p, form fieldset fieldset {
background:url("/images/divider.gif") repeat-x scroll left bottom transparent;
padding:5px 10px 7px;
}
fieldset p {
background:url("/images/divider.gif") repeat-x scroll left bottom transparent;
padding:5px 5px 7px;
}
form fieldset p {
list-style:none outside none;
margin:0;
padding:5px 0;
text-align:left;
}
#popular-articles {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F4F4F4 none repeat scroll 0 0;
color:#484848;
float:left;
width:250px;
}
popular-articles .post-summary {
border-top:1px solid #DFDFDF;
clear:both;
float:left;
padding:10px;
width:280px;
}
#post-summary {
color:#666666;
}
h1, h2,h3 {
    text-align: left;
    color:#038819;
}
#block-text {
    padding: 0px 20px;
    text-align:left;
    line-height:24px;
    font-family:Georgia,serif;
}
#block-text p {    
    margin-bottom:20px;
    background:none no-repeat scroll 0 0 transparent;
    line-height:24px;
    font-family:Georgia,serif;
    color:#656465;
}