<script type="text/javascript">
  function openWindow(url) {
    var w = 480, h = 340;

      if (document.all) {
         /* the following is only available after onLoad */
         w = document.body.clientWidth;
         h = document.body.clientHeight;
      }
      else if (document.layers) {
         w = window.innerWidth;
         h = window.innerHeight;
      }
      var popW = 800, popH = 450;
      var leftPos = (w)/2, topPos = (h)/2;
      window.open(url, 'Authorize','width=' + popW + ',height='+popH+',top='+topPos+ ',left='+leftPos);

      return true;
    }

</script>

<div style="background-color:#BBDEFA;padding: 10px;">   
    <% form_remote_tag :url => { :controller => 'experiences', :action => "store_experience", :user_id=> "#{@user.id}" } do %>
       <h3>What do you think of DoosraCricket? Your feedback is greatly appreciated.</h3>
        <p>    
        To help us prioritize, please choose a type: <br/>
        <%= select_tag :feedback_type, options_for_select(Experience::COMMENT_TYPES.sort { |v1,v2| v1[1].to_i <=> v2[1].to_i}.collect{|k| [ k[0],k[1] ]}, 1 ) %>
        </p>
 
        <p>
        Your Comments:<br/>	 
        <%= text_area_tag :description, "Let us know what you think!", :cols => "50", :rows => "4",
                                                 :onblur => "if (this.value == '') {this.value = 'Let us know what you think!';}", :onfocus => "if (this.value == 'Let us know what you think!') {this.value = '';}" -%>                  
        </p>

        <%= submit_tag "Share Feedback" %>
    <% end %>
    
    <br/><div id="feedback-status" style="background-color:#378314;font-weight:bold;color:#fff;"></div>
</div>


