<div id="left">  
    <div id="participants">
        <% if @readonlypost %>
            <span style='font-size:130%'><%= h(@post.subject) %></span><br/>
        <% else %>
            <span style='font-size:130%'><%= link_to  h(@post.subject), @post.get_url_for(@user, 'show'), :class => "#{@post.unread_comments_for(@user) > 0 ? "unread-post" : "read-post"}"%></span><br/>
        <% end %>
        
        <%= @contest.matches.size %> matches
        <%= render :partial => 'posts/match', :collection => @contest.matches %>
    </div>
</div>

