<div id="right">  
  <div id="display-winner">
        Winner of this <b>open contest</b><br/> 
        <span style="padding-left:30px;">will be displayed here</span><br/>
        <b><span style="padding-left:48px;">It could be you</span></b>
  </div>
</div>