<div id="right">  
  <div id="display-winner">
        Winner of this Open contest<br/> 
        <span style="padding-left:30px;">will be displayed here</span><br/>
        <span style="padding-left:48px;">It could be you</span>
  </div>
</div>