<legend style="font-size:150%">Match Result</legend>
<br/><%= "<b>Result:</b> #{@match.match_result}" %><br/>
<div id='predictions' style="margin-top:10px;">
    <% match_result = 0 %>
    <%  @category.entries.each do |entry| %>                
        <% result = Result.find_by_match_id_and_entry_id(@match.id, entry.id) %>
        <% match_result += result.result %>

        <% if entry.name == 'winner' || entry.name == 'toss' %>
            <%= entry.name.capitalize + ": " + Team.find_by_id(result.result).teamname.capitalize + "<br/>" if result.result != -1 %>                    
        <% end %>

        <% if entry.name == 'ts_firstteam' %>
            <%= "Total Score #{get_teamname(@match.firstteam).capitalize}: " + PredictTotalScore.find_by_id(result.result).label_text + "<br/>" if result.result != -1 %>
        <% end %>
        <% if entry.name == 'ts_secondteam' %>
            <%= "Total Score #{get_teamname(@match.secondteam).capitalize}: " + PredictTotalScore.find_by_id(result.result).label_text + "<br/>" if result.result != -1 %>
        <% end %>

    <% end %>
    <% "Result not yet updated<br/>" if match_result < 0 %><br/>     
</div>
