<div id="left">  
  <% unless @readonlypost1 %>
    <% image_tag "group.png" %>      
    <% link_to_remote ("My Contests (#{@user.posts.size})" + image_tag("bullet_arrow_down.png")), :url => { :action => :load_all_participants, :uid => @user.unique_id, :pid => @post.unique_id },:update => 'list-all-p' %>
           
       <ul id="participants-list">
            <% unless @user.posts.empty? %>
                <% @user.posts.each do |post| %>
                    <% link_to  h(post.subject), post.get_url_for(@user, 'show'), :class => "#{post.unread_comments_for(@user) > 0 ? "unread-post" : "read-post"}" %>
                <% end %>
            <% end %>
       </ul>
      
      <div id="list-all-p1"></div>
 
    <div id="participants">
        <span style='font-size:100%;font-weight:bold;color:#21519C;'><%= @post.subject %></span><br/> 
        <span style="font-size:12px;"><%= @contest.matches.size %> matches</span>
        <%= render :partial => 'match', :collection => @contest.matches %>
    </div>
  <% end %>
</div>

