<div id="post-content1" style="padding-bottom:30px;">
  <div id="actual-post-content">
   
    <div id="comments-section">
        <% if !@readonlypost %>
            <%= render :partial => 'posts/new_comment' %>
        <% end %>    
        
        <div id="sticky-comments">
            <% if @post.comments.sticky.length > 0 %>
                  <%= render :partial => "/comments/sticky_comment", :collection => @post.comments.sticky, :locals => {:root => 'true',:parent_comment => nil} %>
            <% end %>
        </div>

        <div id ="comments-heading" class="sub-heading">Comments (<%= @post.comments.size - @post.comments.sticky.length %>)</div>
            <div id="comments">                      
                  <% if @post.comments.roots.length > 0 %>
                       <%= render :partial => "/comments/comment", :collection => @post.comments.top, :locals => {:root => 'true',:parent_comment => nil} %>
                  <% end %>
            </div><br/><br/>
        </div>
    </div>

</div>