<div id="matches">
   <ul id="matches-list">

      <li><b><%= link_to "#{get_teamname(match.firstteam).capitalize} vs #{get_teamname(match.secondteam).capitalize}</b><br/>
              #{match.description.capitalize} @ #{match.venue.capitalize} <br/>
              #{match.date.to_s(:long)}", match.get_url_for(@eng, 'show') %><br/>
      
      <% if match.check_if_match_started %>
          <span style="font-size:11px;margin-left:80px"><%= facebox_link_to 'See Results', :url => match.get_url_for(@eng, 'result') %></span><br/>
      <% else %>
          <span style="font-size:11px;margin-left:80px"><%= facebox_link_to 'Cast / Change Predictions', :url => match.get_url_for(@eng, 'predicitions') %></span><br/>
      <% end %>
    </ul>
</div>