
<p>
  <%= link_to "#{get_teamname(match.firstteam)} vs #{get_teamname(match.secondteam)} at #{match.venue.capitalize} <br/>#{match.description.capitalize} on #{match.date}", match.get_url_for(@eng, 'show') %><br/>
  <% if match.check_if_match_started %>
      <span style="font-size:11px;margin-left:80px"><%= facebox_link_to 'See Results', :url => match.get_url_for(@eng, 'result') %></span><br/>
  <% else %>
      <span style="font-size:11px;margin-left:80px"><%= facebox_link_to 'Cast / Change Predictions', :url => match.get_url_for(@eng, 'predicitions') %></span><br/>
  <% end %>
  <h1 style="border-bottom:1px dashed #fff;"></h1>
</p>
