 <div id="add-new-comment">
    <div class="new-comment root comment-body">
        <%  @comment = Comment.new(:body => "Enter your comments") %>
        <div style="font-size :70%;float:right;color:#0062f6;"><%= image_tag "comment.png" %>   <%= "#{@user.display_name(@post)}" %><br/>
        <%= image_tag @user.avatar.url(:thumb),:size=> "32x32"  if @user.avatar.file? %></div>
        <div id="new-comment-status"></div>

        <div id="new-comment-body" class="comment-body-editor">
          <%=  render :partial => 'comments/new_comment_form', :locals => { :comment => @comment, :parent_comment => 0 } %>
        </div>
    </div>
</div>
