<!--If there is no note, then do not show this at all to participants (i.e non-owner) -->
<% if @post.owner == @user || !@post.note.include?('Keep some notes here') || true %>
<div id="sticky-note">
  <h3 style="border-bottom:1px solid #fff;text-align:center;">Sticky Note </h3>
  <% if @post.owner == @user  || true %>
  <span id="post_note_field"><%=h @post.note %></span>
  <%= in_place_editor 'post_note_field',  :url => url_for(:action => :set_post_note, :id => @post.id), :rows =>  9, :cols => 30 %>
  
  <% else %>
   <%= @post.note %>
   <% end %>
</div>
<% end %>

