<h1>About Us</h1>

<h2>The Story</h2>

<p>Social Cricket Contest was developed from Engagevia and was started in September 2010. <br/>
 We are based in Portland, Oregon, USA.</p>
<p>It is being developed as you are reading this.</p>
<p>We love the Web and we are passionate about using it to solve real world problems in a simple way. </p>

