<h1>Disclaimer</h1>

 <p>The Doosra Contest is open to individual who are at older than thirteen (13) years of age, 
 and who have agreed to these Rules (“Participants”). The contest should be played only for socializing.
 Predicting match outcomes should be used only for fun and entertainment. It should not be used for betting or any other purpose.<br/><br/>

 The Contest is not open to residents of Cuba, Iran, Syria, North Korea, Sudan, Myanmar (Burma), 
 or to other individuals restricted by U.S. export controls and sanctions, and is void in any other nation, 
 state, or province where prohibited or restricted by U.S. or local law. </p><br/>
