<span style="clear:both;padding-left:20px;">

   <h1>Disclaimer</h1>

   <p>The contests provided by Doosra Cricket are meant only for socializing with friends.
   Predicting match results should only be used for fun and entertainment.
   It should not be used for betting or any other purpose. </p><br/>
   
   