<h1>Help / FAQ</h1>

<h3>Why should I use Doosra Cricket. What are the benefits?</h3>
<p>Doosra Cricket is only for people how are interested in cricket and like to predict the match outcomes.
You can Connect, Socialize and Compete with friends and other participants on cricket.
You can show your knowledge on cricket by predicting match outcomes and winning points.</p><br/>

<h3>What is open contest?</h3>
<p>Open contest are public contest which can be joined by anyone. All predictions and conversations are visible to everyone.
Please be considerate when you post a comment. Be descend and civil. Don't say things you wouldn't say in a face to face conversation.
Also, the default notification setting for public contest is disabled. So if you want to be notified about new prediction and comments, you have to update the setting on the contest show page.</p><br/>

<h3>What is private contest and why should I participate in private contest?</h3>
<p>Private contest is a closed contest which you can play with your friends and families. You can control the participants and the joining is only by invitations.
The predictions and discussing are also private and visible only to the contest participants. The contest is not available for public and they are not aware of your participation.</p><br/>

<h3>Is there any prize for winning the contest?</h3>
<p>No there is no prize. We want people to participate for the fun and adding prize will dilute there enthusiam.</p><br/>

<h3>Is there prerequisite for participating in the contest?</h3>
<p>No prerequisite. Just join the open contest.</p><br/>

<h3>How can I join the public contest?</h3>
<p>If you are member, login, select a contest and click the join a public contest.
If you are non-member, select a contest and click the join a public contest.
provide your email id and confirm the notification message send to that email id.
You should see yourself in the participation list.</p><br/>

<h3>I join the public contest. What should I do next?</h3>
<p>Select a match and predict the outcome on various categories.
You can change predictions any number of times. The predictions stops automatically when the match starts.
Once the match is over, results are updated and scores are calculated.
Note: Sometimes it might take 12 hours before the results and scores are updated.</p><br/>

<h3>When and how are results and scores updated?</h3>
<p>Once the match is over, the results and scores are updated by Doosra Cricket Admin.
Note: Sometimes it might take 12 hours before the results and scores are updated.</p><br/>

<h3>Where can I see my scores?</h3>
<p>The scores are displayed at three places.
The overall score and position is displayed on home page.
The contest and individual match scores are displayed on the contest show page.</p><br/>

<h3>What happen if I missed my prediction for a match?</h3>
<p>You don't win any points for that match. There is no penalty and you are still in the contest.</p><br/>

<h3>What if I join the contest late and missed few predictions?</h3>
<p>You don't win any points for that matches you missed. There is no penalty and you are still in the contest.</p><br/>

<h3>What happens if the match is abandon?</h3>
<p>All predictions for that match will be ignored and scores will remain unchanged.</p><br/>

<h3>Can I have multiple participation using different email id?</h3>
<p>No. If found you will be disqualified.</p><br/>

<h3>Do I have to signup to try?</h3>
<p>Not at all. Neither you nor any of your invitees have to signup to experience the application.</p><br/>


<h3>What is benefit of signing up?</h3>
<p>We can store all your contests and show you a dashboard view listing them all for your convenience.</p><br/>

<h3>When do I get to signup?</h3>
<p>When you come to view your second contest, you will get the option to choose a password and once you provide it, you are signed up! It's that easy!</p>
<p>You can then view your Dashboard which will list all the contests you have joined and those that have been shared with you.</p><br/>

<h3>Can I forward the link to the contest page I received in my email to my invitees?</h3>
<p>No. Each invitee receives a unique link that we use to identify them when they visit the page.</p>
<p>You can easily invite and/or share with your friends from the Contest page.</p><br/>

<h3>What if I accidentally delete my invitation email or never received one?</h3>
<p>Request the owner of the contest to resend your unique invitation.</p><br/>

<h3>When do I Include and When do I Share?</h3>
<p>If you know exactly who would be interested in your contest or who you want to be part of your contest, 
<p>Include them. Once included, they will be added to the Participants list of the contest.</p>
<p>They will also start getting comment notifications as and when they get posted.</p><br/>

<p>On the other hand, when you are not sure who would be relevant to the contest, Share an open invite link via email or from address book to let them know.</p>
<p>The recipients, by clicking the link, can view the contest page and then choose to join, if they are interested.
Only when they Join, they will be added to the Participants list.</p> <br/>

<p>For help, contact us at <a href="mailto:doosracricket@gmail.com">doosracricket@gmail.com</a></p><br/>
