<h1>Help / FAQ</h1>

<h3>Do I have to signup to try?</h3>
<p>Not at all. Neither you nor any of your invitees have to signup to experience the application.</p><br/>


<h3>What is benefit of signing up?</h3>
<p>We can store all your conversations and show you a dashboard view listing them all for your convenience.</p><br/>

<h3>When do I get to signup?</h3>
<p>When you come to view your second conversation, you will get the option to choose a password and once you provide it, you are signed up! It's that easy!</p>
<p>You can then view your Dashboard which will list all the conversations you have joined and those that have been shared with you.</p><br/>

<h3>Can I forward the link to the conversation page I received in my email to my invitees?</h3>
<p>No. Each invitee receives a unique link that we use to identify them when they visit the page.</p>
<p>You can easily invite and/or share with your friends from the Conversation page.</p><br/>

<h3>What if I accidentally delete my invitation email or never received one?</h3>
<p>Request the owner of the conversation to resend your unique invitation.</p><br/>


<h3>When do I Include and When do I Share?</h3>
<p>If you know exactly who would be interested in your conversation or who you want to be part of your conversation, Include them.</p>
<p>Once included, they will be added to the Participants list of the conversation.</p>
<p>They will also start getting comment notifications as and when they get posted.</p><br/>

<p>On the other hand, when you are not sure who would be relevant to the conversation, Share an open invite link via email, Facebook or EngageVia to let them know.</p>
<p>The recipients, by clicking the link, can view the conversation page and then choose to join, if they are interested.
Only when they Join, they will be added to the Participants list.</p> <br/>

<p>For help, contact us at <a href="mailto:doosracricket@gmail.com">doosracricket@gmail.com</a></p><br/>
