<h2>Help / FAQ</h2>

<h3>Do I have to signup to try?</h3>
Not at all. Neither you nor any of your invitees have to signup to experience the application.
<h3>What is benefit of signing up?</h3>
We can store all your conversations and show you a dashboard view listing them all for your convenience.

<h3>Can I forward the link to the conversation page I received in my email to my invitees?</h3>
No. Each invitee receives a unique link that we use to identify them when they visit the page.

<h3>What if I accidentally deleted my invitation email or never received one?</h3>
Request the owner of the conversation to resend your unique invitation.

<h3>If you are a content publisher, copy the following javascript snippet to paste in your pages to facilitate private conversations</h3>

<div id="js_snippet">
  <% snippet = "<img src='http://www.engagevia.com/images/e2.png'>    <a href='http://www.engagevia.com/posts/new' onclick='window.open('http://www.engagevia.com/posts/new?noui&amp;jump=close&amp;url='+encodeURIComponent(location.href)+'&amp;title='+encodeURIComponent(document.title),'EngageVia','toolbar=no,width=800,height=600'); return false;'> Start a conversation on EngageVia</a>"        %>
  <%= text_area_tag 'snippet', snippet, :rows => 5, :cols => 120, :readonly => true %>
</div>

<p>For help, contact us at <a href="mailto:engagevia@gmail.com">engagevia@gmail.com</a>
