<h1>Prizes for World Cup 2011 Contest</h1><br/>
<p>
<span style="font-size:22px; color: rgb(153, 0, 0);">Bowl a Doosra and Win Prizes</span><br/><br/>

At DoosraCricket, we are super-excited about the upcoming World Cup just as you are. The fever is certainly catching on. We want to make this World Cup a little extra special for all of the fans by awarding prizes throughout the World Cup.<br/><br/>

<span style="font-weight: bold; color: rgb(153, 0, 0);">The prizes are as follows:</span><br/><br/>

ICC World Cup 2011 Series Open Contest<br/>
(a total of 56 prizes can be won)<br/><br/>

1. Series winner 1st Position (1000 points)<br/>
2. Series winner 2nd Position (750 points)<br/>
3. Series winner 3rd Position (500 points)<br/>
4. Perfect Doosra (for getting all the predictions right), one winner per match (200 points each)<br/>
5. Predict the 4 Semi-Finalists (500 points)<br/>
6. Predict the 2 Finalists (500 points)<br/>
7. Consistent Doosra (two participants picked randomly from among those who have predicted at least 40 out the 49 matches) (500 points)<br/><br/>

<span style="font-weight: bold; color: rgb(153, 0, 0);">Rules:</span><br/><br/>

1. To join, <a href="http://doosracricket.com/posts/show?pid=763e78f2be7a73d21ffccb2700ba002fccdc0f99&iid=45704c81595d6ee8aff640c33398cd04">click here</a> and click on the Join link at the top.<br/><br/>

2. There are 49 matches in this contest. Each participant has to cast his/her predictions before the start of the match. Any prediction that violates this rule will be discarded.<br/><br/>

3. When predicting for a particular match, you shall make all of the predictions by visiting the Contest page of the World Cup on DoosraCricket. A Maximum of 12 points can be won by getting all the choices correctly.<br/><br/>

4. There is no penalty for incorrect predictions.<br/><br/>

5. Series winner 1st Position<br/>
Participant accumulating the maximum number of points throughout the World Cup will be awarded the 1st prize.<br/><br/>

6. Series winner 2nd Position<br/>
Participant accumulating the 2nd most number of points throughout the World Cup will be awarded the 2nd prize.<br/><br/>

7. Series winner 3rd Position<br/>
Participant accumulating the 3rd most number of points throughout the World Cup will be awarded the 3rd prize.<br/>
<span style="color:grey;">NOTE: If there is a tie for any position, one winner will be chosen by random selection. The other will drop to the next position. There won't be any splitting of the prizes.</span><br/><br/>

8. Perfect Doosra - a maximum of 49 prizes to be won, one per match (200 points each)<br/>
For every match, the participant getting all of his/her predictions correct (12 points), will win this prize.<br/>
<span style="color:grey;">NOTE: If there is tie, only one winner will be chosen by random selection. There won't be any splitting of the prizes.</span><br/><br/>

9. Predict the 4 Semi-Finalists ( 500 points)<br/>
Predict the 4 Semi-Finalists by providing your input as a comment on the <a href="http://doosracricket.com/posts/show?pid=763e78f2be7a73d21ffccb2700ba002fccdc0f99&iid=45704c81595d6ee8aff640c33398cd04">contest page</a> of the World Cup. Your prediction has to be logged as a comment before the start of the 10th match (Sat - Feb 26). Only those who have predicted for at least 40 out of the 49 matches will be considered eligible for this category.<br/><br/>

10. Predict Finalists (500 points)<br/>
Predict the 2 Finalists by providing your input as a comment on the <a href="http://doosracricket.com/posts/show?pid=763e78f2be7a73d21ffccb2700ba002fccdc0f99&iid=45704c81595d6ee8aff640c33398cd04">contest page</a> of the World Cup. Your prediction has to be logged as a comment before the start of 10th match (Sat - Feb 26). Only those who have predicted for at least 40 out of the 49 matches will be considered eligible for this category.<br/><br/>

11. Consistent Doosra (500 points each)<br/>
Participants should have predicted for at least 40 out of 49 matches to be eligible for this prize. Two winners will be chosen by random selection. This is a reward for being consistent.<br/><br/>

<strong>In case of any dispute, the decision of the judges/administrator is final.</strong><br/><br/>
<span style="color:grey;font-size:10px;">
IMPORTANT:<br/>
These prizes are not applicable to the private contests.<br/>
Prizes are activated only if there are at least 100 participants in the contest.<br/>
All Prizes will be awarded after the World Cup 2011 contest is over.<br/><br/>

The points won can be redeemed for exciting prizes of your choice from a selection offered on our web site. You will have to accumulate a minimum of 1000 points to redeem.</span><br/><br/>

<span style="color:#0080FF;">So what are you waiting for, click <a href="http://doosracricket.com/posts/show?pid=763e78f2be7a73d21ffccb2700ba002fccdc0f99&iid=45704c81595d6ee8aff640c33398cd04">here</a> to join the World Cup contest now....
Go ahead..<br/><br/>

Good.. now that you have joined, here is a special offer for you...!</span><br/><br/>

<a name="special_offer"><span style="color:rgb(255, 0, 255);font-size:20px;">Special Offer!</span></a><br/><br/>

<span style="color1:#0080FF;">Don't want to wait till the World Cup starts to score points, then listen up.. we have something in store for you.<br/><br/>

"Share Open Invites" with your friends to join the contest and for each friend that joins the World Cup contest at DoosraCricket, you get 5 points. Get a head start now.<br/><br/>

You can share invitation by following these steps:<br/><br/>

1. Visit <a href="http://doosracricket.com">DoosraCricket</a> page and make sure that you are signed in<br/>
2. Go to <a href="http://doosracricket.com/posts/show?pid=763e78f2be7a73d21ffccb2700ba002fccdc0f99&iid=45704c81595d6ee8aff640c33398cd04">ICC Cricket World Cup 2011 (open contest)</a> page.<br/>
3. Click on the "Share Open Invites" button.<br/>
4. Send an email invitation to all of your interested friends.<br/><br/>

Keep Practicing and we will see you soon,<br/><br/>

Good luck and Best Wishes!<br/><br/>
</span>
<span style="color:grey;font-size:12px;">-DoosraCricket Team</span>

</p>