<h1>Redeem Credits for prizes of your choice from following selection</h1>
<div style="border:1px solid #709CB2;"></div>

<br/><h2>Countries: USA</h2>

<span class='redeem_prize' style="text-align:center;">
    <img src="http://ecx.images-amazon.com/images/I/31d%2Bu7WVOWL._AA150_.jpg?op_sharpen=1&amp;wid=120&amp;hei=130" title="Amazon.com Gift Card" alt="Amazon.com Gift Card" />
    <br/>Amazon.com Gift Card<br/>
</span>

<div style="border:1px solid #709CB2;"></div>

<h2>Countries: India 
    <span style="font-size:12px;"><%= link_to "(Pick more Gift Certificates)", 'http://www.infibeam.com/Gifts/Gift-Certificate-India.xhtml' %></span>
</h2>

<span class='redeem_prize' style="float:left;">
    <img src="http://img1.infibeam.com/img/904e9625/a5/76/p-ex-gc-big-bazaar-bigbazaar-front-1.wm.jpg?op_sharpen=1&amp;wid=120&amp;hei=130" title="Big Bazaar Gift Voucher" alt="Big Bazaar Gift Voucher" />
    <br/>Big Bazaar Gift Voucher<br/>Rs 1000<br/>
</span>

<span class='redeem_prize' style="float:left;">
  <img src="http://img1.infibeam.com/img/0af205b9/24/52/p-ex-gc-cafe-coffee-day-voucher-250-set-4.wm.jpg?op_sharpen=1&amp;wid=120&amp;hei=130" title="Cafe Coffee Day Gift Voucher" alt="Cafe Coffee Day Gift Voucher" />
  <br/>Cafe Coffee Day Gift Voucher<br/>Rs 1000<br/>
</span>

<span class='redeem_prize' style="float:left;">
  <img src="http://img1.infibeam.com/img/16c840da/8a/06/p-ex-gc-wills-lifestyle-voucher-front-1.wm.jpg?op_sharpen=1&amp;wid=120&amp;hei=130" title="Wills Lifestyle Gift Voucher" alt="Wills Lifestyle Gift Voucher" />
  <br/>Wills Lifestyle Gift Voucher<br/>Rs 1000<br/>
</span>

<span class='redeem_prize' style="float:left;">
  <img src="http://img1.infibeam.com/img/ff013f98/6e/1c/p-ex-gc-life-style-voucher-front-1.wm.jpg?op_sharpen=1&wid=120&hei=130" title="Life Style Gift Voucher" alt="Life Style Gift Voucher" />
  <br/>Life Style Gift Voucher<br/>Rs 1000<br/><br/><br/><br/><br/>
</span>


<span class='redeem_prize' style="float:left;">
  <img src="http://img1.infibeam.com/img/d3edbcb5/3b/52/p-ex-gc-john-players-voucher-front-1.wm.jpg?op_sharpen=1&amp;wid=120&amp;hei=130" title="John Players Gift Voucher" alt="John Players Gift Voucher" />
  <br/>John Players Gift Voucher<br/>Rs 1000<br/>
</span>

<span class='redeem_prize' style="float:left;">
  <img src="http://img1.infibeam.com/img/02cd6863/b9/33/p-ex-gc-pantaloon-trendsetter-front-1.wm.jpg?op_sharpen=1&wid=120&hei=130" title="Pantaloon Trendsetter Gift Voucher" alt="Pantaloon Trendsetter Gift Voucher" />
  <br/>Pantaloon Trendsetter Gift Voucher<br/>Rs 1000<br/>
</span>

<span class='redeem_prize' style="float:left;">
  <img src="http://img1.infibeam.com/img/e17ce270/84/8a/p-ex-gc-baskin-robbins-voucher-front-1.wm.jpg?op_sharpen=1&amp;wid=120&amp;hei=130" title="Baskin Robbins Gift Voucher" alt="Baskin Robbins Gift Voucher" />
  <br/>Baskin Robbins Gift Voucher<br/>Rs 1000<br/>
</span>

<span class='redeem_prize' style="text-align:center;">
  <img src="http://img1.infibeam.com/img/ce6987e7/9b/25/p-ex-gc-globus-voucher-front-1.wm.jpg?op_sharpen=1&amp;wid=120&amp;hei=130" title="Globus Gift Voucher" alt="Globus Gift Voucher" />
  <br/>Globus Gift Voucher<br/>Rs 1000<br/>
</span>

<br/><br/>
<div style="border:1px solid #709CB2;"></div>
<br/><h2>More Countries coming soon</h2>
