<%= image_tag "2011-world-cup.jpg", :size => "160x220" %>
<%= image_tag "world_cup_symbol.jpg", :size => "180x220" %>

<%= image_tag "world_cup_logos.jpg", :size => "380x260" %>
<%= image_tag "world_cup_mascot.jpg", :size => "180x220" %>

<h2>TEAM STANDINGS</h2>

<fieldset1>
<span style="float:left;width:45%;padding:10px;text-align:center;">
    <table border=1">
        <tr>
          <th>Group A Team</th>	
          <th>P</th>
          <th>W</th>
          <th>L</th>
          <th>T</th>
          <th>NR</th>
          <th>PTS</th>
          <th>NRR</th>
        </tr>

        <tr>
           
           <tr> <td style="width:100px;">Australia</td> <% 7.times do %> <td style="width:35px;">0</td> <% end %> </tr>
           
           <tr> <td>New Zealand</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>Pakistan</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>Sri Lanka</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>Zimbabwe</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>Canada</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>Kenya</td> <% 7.times do %> <td>0</td> <% end %> </tr>
       </tr>    
    </table>
 </span>

<span style="float:left;width:45%;padding:10px;margin-bottom:20px;text-align:center;">
    <table border=1>
        <tr>
          <th>Group B Team</th>	
          <th>P</th>
          <th>W</th>
          <th>L</th>
          <th>T</th>
          <th>NR</th>
          <th>PTS</th>
          <th>NRR</th>
        </tr>

       <tr>
           <tr> <td style="width:100px;">Bangladesh</td> <% 7.times do %> <td style="width:35px;">0</td> <% end %> </tr>
           <tr> <td>England</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>India</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>South Africa</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>West Indies</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>Ireland</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>Netherlands</td> <% 7.times do %> <td>0</td> <% end %> </tr>
       </tr>  
    </table>
 </span>
</fieldset1>



<span style="padding:10px;text-align:center">
<h2>SCHEDULE</h2>
    <table border=1>
        <tr>
          <th>Date</th>	
          <th> # , Group</th>
          <th>Match Details</th>
          <th>IST</th>	
          <th>Ground</th>	
          <th>City</th>	
          <th>D/N</th>	
        </tr>

        <tr>
          <td style="width:90px;">Feb 19 - Sat</td>
          <td style="width:150px;">1st Match, Group B</td>
          <td style="width:160px;text-align:left;padding-left:10px;">Bangladesh v India</td>
          <td style="width:90px;">08:30 GMT 14:30 local</td>
          <td style="width:250px;text-align:left;padding-left:10px;">Shere Bangla National Stadium, Mirpur</td>
          <td style="width:85px;text-align:left;padding-left:10px;">Dhaka</td>
          <td>D/N</td>
        </tr>

        <tr>
          <td>Feb 20 - Sun</td>
          <td>2nd Match, Group A</td>
          <td style="text-align:left;padding-left:10px;">Kenya v New Zealand</td>
          <td>04:00 GMT 09:30 local</td>
          <td style="text-align:left;padding-left:10px;">MA Chidambaram Stadium, Chepauk</td>
          <td style="text-align:left;padding-left:10px;">Chennai</td>
          <td>---</td>
        </tr>

        <tr>
          <td>Feb 20 - Sun</td>
          <td>3rd Match, Group A</td>
          <td style="text-align:left;padding-left:10px;">Sri Lanka v Canada</td>
          <td>09:00 GMT 14:30 local</td>
          <td style="text-align:left;padding-left:10px;">Mahinda Rajapaksha International Cricket Stadium, Sooriyawewa</td>
          <td style="text-align:left;padding-left:10px;">Hambantota</td>
          <td>D/N</td>
        </tr>

        <tr>
          <td>Feb 21 - Mon</td>
          <td>4th Match, Group A</td>
          <td style="text-align:left;padding-left:10px;">Australia v Zimbabwe</td>
          <td>09:00 GMT 14:30 local</td>
          <td style="text-align:left;padding-left:10px;">Sardar Patel Stadium, Motera</td>
          <td style="text-align:left;padding-left:10px;">Ahmedabad</td>
          <td>D/N</td>
        </tr>
	
        <tr>
          <td>Feb 22 - Tue</td>
          <td>5th Match, Group B</td>
          <td style="text-align:left;padding-left:10px;">England v Netherlands</td>
          <td>09:00 GMT 14:30 local</td>
          <td style="text-align:left;padding-left:10px;">Vidarbha Cricket Association Stadium, Jamtha</td>
          <td style="text-align:left;padding-left:10px;">Nagpur</td>
          <td>D/N</td>
        </tr>

    </table>
</span>