<h2>TEAM STANDINGS</h2>

<fieldset>
<span style="float:left;width:45%;padding:10px;">
    <table border=1>
        <tr>
          <th>Group A Team</th>	
          <th>P</th>
          <th>W</th>
          <th>L</th>
          <th>T</th>
          <th>NR</th>
          <th>PTS</th>
          <th>NRR</th>
        </tr>

        <tr>
           
           <tr> <td style="width:100px;">Australia</td> <% 7.times do %> <td style="width:35px;">0</td> <% end %> </tr>
           
           <tr> <td>New Zealand</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>Pakistan</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>Sri Lanka</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>Zimbabwe</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>Canada</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>Kenya</td> <% 7.times do %> <td>0</td> <% end %> </tr>
       </tr>    
    </table>
 </span>

<span style="float:left;width:45%;padding:10px;">
    <table border=1>
        <tr>
          <th>Group B Team</th>	
          <th>P</th>
          <th>W</th>
          <th>L</th>
          <th>T</th>
          <th>NR</th>
          <th>PTS</th>
          <th>NRR</th>
        </tr>

       <tr>
           <tr> <td style="width:100px;">Bangladesh</td> <% 7.times do %> <td style="width:35px;">0</td> <% end %> </tr>
           <tr> <td>England</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>India</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>South Africa</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>West Indies</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>Ireland</td> <% 7.times do %> <td>0</td> <% end %> </tr>
           <tr> <td>Netherlands</td> <% 7.times do %> <td>0</td> <% end %> </tr>
       </tr>  
    </table>
 </span>
</fieldset>

<h2>SCHEDULE</h2>
    <table border=1>
        <tr>
          <th>Date</th>	
          <th>Match Details</th>	
          <th>IST</th>	
          <th>Ground</th>	
          <th>City</th>	
          <th>D/N</th>	
        </tr>
	
        <tr><td>Feb 19 - Sat </td><td>Bangladesh v India, 1st Match, Group B </td><td>14:00 </td><td>Shere Bangla National Stadium </td><td>Dhaka</td><td></td></tr>
        <tr><td>Feb 20 - Sun </td><td>New Zealand v Kenya, 2nd Match, Group A </td><td>09:30 </td><td>MA Chidambaram Stadium </td><td>Chennai</td><td></td></tr>
        <tr><td>Feb 20 - Sun 	</td><td>Sri Lanka v Canada, 3rd Match, Group A </td><td>14:30</td><td>Hambantota International Cricket Stadium </td><td>Hambantota </td><td></td></tr>	 

    </table>
<br/>