<ul>
  <li>©2010 DoosraCricket</li> |
  <li><%= link_to "How to get Started", dashboard_path %></li> |
  <li><%  link_to "Blog", DOMAIN + "blog" %></li>
  <li><%  link_to "About", DOMAIN + "about" %></li>
  <li><%=  link_to "Contact", DOMAIN + "contact" %></li>
  <li><%  link_to "Privacy", DOMAIN + "privacy" %></li>
  <li><%  link_to "Help / FAQ", DOMAIN + "help" %></li> 
</ul>
