<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Predict results and get social with your friends on cricket</title>
  <style type="text/css">
    img {
      border:medium none;
      vertical-align:middle;
      }
   </style>
</head>
<body>

<div id="header">
   <!--[if lt IE 7]>
 <div class="banner" style="height:33px; padding:10px 20px 7px 30px;background-color:#ff0000;">
 It appears you are using a version of Internet Explorer that we do not support. Please use IE 7 or above.
</div> <![endif]-->

  <div id="logo-text">
      <li><%= link_to "Doosra Cricket", root_url %></li>
  </div>

</div>

<%= yield %>

   
</body>
</html>

