
    <div style="font-family:Georgia;">
        <div>
        <%= image_tag "http://www.engagevia.com/evlogo.png", :size=>'251x53' %>
        <hr/>
        </div>

        <%= yield %>

        <hr/>
        <%= link_to 'EngageVia', "http://www.engagevia.com" %> is an online tool for engaging with friends in your circle and <br/>
        your extended circle on topics of common interest. <br/><br/>
     </div>
 