
    <div style="font-family:Georgia;">
        <div>
        <%= image_tag DOMAIN + "doosra-y.png", :size=>'251x53', :alt => 'DoosraCricket' %>
        <br/><span style="color:#0B84E8;">Discuss, predict results and get social with your friends and families on cricket</span><br/>
        <hr/>
        </div>

        <%= yield %>

        <hr/>
        
     </div>
 