
    <div style="font-family:Georgia;">
        <div>
        <%= image_tag DOMAIN + "doosra-y.png", :size=>'251x53', :alt => 'DoosraCricket' %>
        <br/><span style="color:#0B84E8;">Compete with friends or world by predicting match results</span><br/>
        <hr/>
        </div>

        <%= yield %>

        <hr/>
        
     </div>
 