
    <div style="font-family:Georgia;">
        <div>
        <%= image_tag DOMAIN + "doosra-y.png", :size=>'251x53' %>
        <hr/>
        </div>

        <%= yield %>

        <hr/>
        <%= link_to 'DoosraCricket', DOMAIN %> is an online tool to discuss, predict results and <br/>
                get social with your friends and families on cricket<br/><br/>
     </div>
 