
    <div style="font-family:Georgia;">
        <div>
        <%= image_tag "http://www.engagevia.com/evlogo.png", :size=>'251x53', :alt => 'Engagevia' %>
        <br/><span style="color:#0B84E8;">Engage in Conversations & Collaborate with your friends with no signup required</span><br/>
        <hr/>
        </div>

        <%= yield %>

        <hr/>
        
     </div>
 