
    <div style="font-family:Georgia;">
        <div>
        <% image_tag DOMAIN + "doosra-y.png", :size=>'251x53' %>        
        <hr/>
        </div>

        <%= yield %>

        <hr/>
        <%= link_to 'DoosraCricket', DOMAIN %> Compete with friends or world by predicting match results<br/><br/>
     </div>